:root {
    --accent-color: #d7263d; /* Accent Color */
    --secondary-accent-color: #72B01D; /* Secondary Accent Color */
    --main-color: #0D0A0B; /* Main Color */
    --text-color: #454955; /* Text Color */
    --background-color: #e7ecef; /* Background Color */
    --light-background: #FFFFFF; /* Light Background */
}